:root {
  --main-bg-color: #5cb85c;
  --second-bg-color: #ffffff;
  --tag-color: #818a91;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  // font-size: 1px;
}

// global style
.center-f {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-f-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-font {
  font-size: 22px !important;
  font-weight: bold;
}
.font-sm {
  font-size: 15px !important;
}
.font-md {
  font-size: 18px !important;
}
.font-xl {
  font-size: 50px !important;
}
.font-md-b {
  font-size: 18px !important;
  color: var(--main-bg-color);
  font-weight: bold;
}
.container {
  max-width: 1170px !important;
  padding: 0px 10px;
  margin: auto !important;
  padding: 0px 10px;
}
.m-v-30 {
  margin: 30px 0px;
}

// ant-custom
.ant-layout-header {
  background-color: var(--main-bg-color);
  min-height: 169px;
  color: var(--second-bg-color);
  text-align: center;
  box-shadow: inset 3px 3px 7px rgba($color: #000000, $alpha: 0.2),
    inset -3px -3px 7px rgba($color: #000000, $alpha: 0.2);
  font-size: 22px;
  .title {
    font-size: 50px;
    font-size: bold;
  }
}
.ant-layout-content {
  background-color: var(--second-bg-color);
}

.ant-list-item-action {
  display: flex;
  justify-content: space-between !important;
}

.heart-emotion {
  width: 35px;
  height: 35px;
  border: 2px solid var(--main-bg-color);
  padding: 7px 0px 0px 9px;
  border-radius: 5px;
  color: var(--main-bg-color);
  &:hover {
    background-color: var(--main-bg-color);
    color: var(--second-bg-color);
  }
}

// main
header.nav-head {
  width: 100%;
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
  min-height: 32px;
  nav {
    width: 100%;
    max-width: 1170px;
    padding: 0px 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
    background-color: var(--second-bg-color);
    .nav-brand {
      a {
        font-size: 35px !important;
        color: var(--main-bg-color);
        font-weight: bold;
      }
    }
    .nav-right {
      .nav-list {
        position: relative;
        width: 300px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 0 !important;
        li {
          font-size: 18px;
          font-weight: 300;
          cursor: pointer;
          &:hover {
            font-weight: bolder;
            color: var(--main-bg-color);
          }
          a.active {
            font-weight: bolder;
            color: var(--main-bg-color);
            border-bottom: 2px solid var(--main-bg-color);
          }
        }
      }
    }
  }
}

.tag-wrapper {
  position: relative;
  left: 100px;
}

.paginate-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.btn-tag {
  cursor: pointer;
}
.error-wrapper {
  width: 350px;

  margin: 50px auto;
}

.post-bg {
  background-color: #333333;
  width: 100%;
  min-height: 169px;
  .post-profile {
    color: var(--second-bg-color);
    padding: 20px 10px !important;
    .title {
      font-size: 50px;
      font-size: bold;
    }
    .profile {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .profile-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        span:nth-child(2) {
          font-size: 12px;
          color: lightgray;
        }
      }
    }
  }
}

@media all and (max-width: 508px) {
  // main
  header.nav-head {
    nav {
      .nav-brand {
        a {
          font-size: 25px !important;
        }
      }
      .nav-right {
        .nav-list {
          width: 250px;
          li {
            font-size: 14px;
          }
        }
      }
    }
  }
  // ant-custom
  .ant-layout-header {
    background-color: var(--main-bg-color);
    min-height: 170px;
    font-size: 17px;
    .title {
      font-size: 30px;
      font-size: bold;
    }
    span:nth-child(2) {
      max-height: 100px;
      white-space: nowrap;
    }
  }
  .ant-list-vertical .ant-list-item-extra {
    margin: 0 !important;
  }
  .tag-wrapper {
    position: relative;
    left: 50px;
    span {
      @for $i from 4 through 6 {
        &:nth-child(#{$i}) {
          display: none;
        }
      }
    }
  }
}
